body {
  font-family: sans-serif;
  background: linear-gradient(to right, #a8edea, #fed6e3);
  text-align: center;
  margin-top: 50px;
}

button {
  background: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #555;
}
